# coding: utf-8

"""
    Api Documentation

    Api Documentation  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class FertilizerControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_all_using_delete3(self, **kwargs):  # noqa: E501
        """deleteAll  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_all_using_delete3(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_all_using_delete3_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_all_using_delete3_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_all_using_delete3_with_http_info(self, **kwargs):  # noqa: E501
        """deleteAll  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_all_using_delete3_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_all_using_delete3" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_using_get7(self, **kwargs):  # noqa: E501
        """getAll  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_using_get7(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_num: pageNum
        :param int per_page: perPage
        :param str name: name
        :param float price_from: priceFrom
        :param float price_to: priceTo
        :param str cultivated_plant_group: cultivatedPlantGroup
        :param list[str] contains_elements: containsElements
        :param list[str] fertilizer_types: fertilizerTypes
        :param list[str] fertilizer_subtypes: fertilizerSubtypes
        :param list[str] sorting_fields: sortingFields
        :param str sort_direction: sortDirection
        :return: PageFertilizer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_using_get7_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_using_get7_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_using_get7_with_http_info(self, **kwargs):  # noqa: E501
        """getAll  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_using_get7_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_num: pageNum
        :param int per_page: perPage
        :param str name: name
        :param float price_from: priceFrom
        :param float price_to: priceTo
        :param str cultivated_plant_group: cultivatedPlantGroup
        :param list[str] contains_elements: containsElements
        :param list[str] fertilizer_types: fertilizerTypes
        :param list[str] fertilizer_subtypes: fertilizerSubtypes
        :param list[str] sorting_fields: sortingFields
        :param str sort_direction: sortDirection
        :return: PageFertilizer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_num', 'per_page', 'name', 'price_from', 'price_to', 'cultivated_plant_group', 'contains_elements', 'fertilizer_types', 'fertilizer_subtypes', 'sorting_fields', 'sort_direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_using_get7" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_num' in params:
            query_params.append(('pageNum', params['page_num']))  # noqa: E501
        if 'per_page' in params:
            query_params.append(('perPage', params['per_page']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'price_from' in params:
            query_params.append(('priceFrom', params['price_from']))  # noqa: E501
        if 'price_to' in params:
            query_params.append(('priceTo', params['price_to']))  # noqa: E501
        if 'cultivated_plant_group' in params:
            query_params.append(('cultivatedPlantGroup', params['cultivated_plant_group']))  # noqa: E501
        if 'contains_elements' in params:
            query_params.append(('containsElements', params['contains_elements']))  # noqa: E501
            collection_formats['containsElements'] = 'multi'  # noqa: E501
        if 'fertilizer_types' in params:
            query_params.append(('fertilizerTypes', params['fertilizer_types']))  # noqa: E501
            collection_formats['fertilizerTypes'] = 'multi'  # noqa: E501
        if 'fertilizer_subtypes' in params:
            query_params.append(('fertilizerSubtypes', params['fertilizer_subtypes']))  # noqa: E501
            collection_formats['fertilizerSubtypes'] = 'multi'  # noqa: E501
        if 'sorting_fields' in params:
            query_params.append(('sortingFields', params['sorting_fields']))  # noqa: E501
            collection_formats['sortingFields'] = 'multi'  # noqa: E501
        if 'sort_direction' in params:
            query_params.append(('sortDirection', params['sort_direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageFertilizer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_by_id_using_get3(self, id, **kwargs):  # noqa: E501
        """getById  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_by_id_using_get3(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: id (required)
        :return: Fertilizer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_by_id_using_get3_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_by_id_using_get3_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_by_id_using_get3_with_http_info(self, id, **kwargs):  # noqa: E501
        """getById  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_by_id_using_get3_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: id (required)
        :return: Fertilizer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_by_id_using_get3" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_by_id_using_get3`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Fertilizer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_cultivated_plant_groups_using_get(self, **kwargs):  # noqa: E501
        """getCultivatedPlantGroups  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cultivated_plant_groups_using_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cultivated_plant_groups_using_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_cultivated_plant_groups_using_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_cultivated_plant_groups_using_get_with_http_info(self, **kwargs):  # noqa: E501
        """getCultivatedPlantGroups  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cultivated_plant_groups_using_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cultivated_plant_groups_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers/cultivated-plant-groups', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_subtypes_using_get(self, **kwargs):  # noqa: E501
        """getSubtypes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_subtypes_using_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] contains_elements: containsElements
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_subtypes_using_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_subtypes_using_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_subtypes_using_get_with_http_info(self, **kwargs):  # noqa: E501
        """getSubtypes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_subtypes_using_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] contains_elements: containsElements
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contains_elements']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_subtypes_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'contains_elements' in params:
            query_params.append(('containsElements', params['contains_elements']))  # noqa: E501
            collection_formats['containsElements'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers/subtypes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_types_using_get3(self, **kwargs):  # noqa: E501
        """getTypes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_types_using_get3(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] contains_elements: containsElements
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_types_using_get3_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_types_using_get3_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_types_using_get3_with_http_info(self, **kwargs):  # noqa: E501
        """getTypes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_types_using_get3_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] contains_elements: containsElements
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contains_elements']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_types_using_get3" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'contains_elements' in params:
            query_params.append(('containsElements', params['contains_elements']))  # noqa: E501
            collection_formats['containsElements'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers/types', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def save_fertilizers_from_xlsx_using_post(self, file, from_index, to_index, **kwargs):  # noqa: E501
        """saveFertilizersFromXLSX  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.save_fertilizers_from_xlsx_using_post(file, from_index, to_index, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file file: file (required)
        :param int from_index: fromIndex (required)
        :param int to_index: toIndex (required)
        :return: DownloadReport
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.save_fertilizers_from_xlsx_using_post_with_http_info(file, from_index, to_index, **kwargs)  # noqa: E501
        else:
            (data) = self.save_fertilizers_from_xlsx_using_post_with_http_info(file, from_index, to_index, **kwargs)  # noqa: E501
            return data

    def save_fertilizers_from_xlsx_using_post_with_http_info(self, file, from_index, to_index, **kwargs):  # noqa: E501
        """saveFertilizersFromXLSX  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.save_fertilizers_from_xlsx_using_post_with_http_info(file, from_index, to_index, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file file: file (required)
        :param int from_index: fromIndex (required)
        :param int to_index: toIndex (required)
        :return: DownloadReport
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file', 'from_index', 'to_index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method save_fertilizers_from_xlsx_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file' is set
        if self.api_client.client_side_validation and ('file' not in params or
                                                       params['file'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `file` when calling `save_fertilizers_from_xlsx_using_post`")  # noqa: E501
        # verify the required parameter 'from_index' is set
        if self.api_client.client_side_validation and ('from_index' not in params or
                                                       params['from_index'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `from_index` when calling `save_fertilizers_from_xlsx_using_post`")  # noqa: E501
        # verify the required parameter 'to_index' is set
        if self.api_client.client_side_validation and ('to_index' not in params or
                                                       params['to_index'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `to_index` when calling `save_fertilizers_from_xlsx_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'from_index' in params:
            query_params.append(('fromIndex', params['from_index']))  # noqa: E501
        if 'to_index' in params:
            query_params.append(('toIndex', params['to_index']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DownloadReport',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_fertilizer_using_put(self, update_fertilizer, **kwargs):  # noqa: E501
        """updateFertilizer  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_fertilizer_using_put(update_fertilizer, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Fertilizer update_fertilizer: updateFertilizer (required)
        :return: Fertilizer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_fertilizer_using_put_with_http_info(update_fertilizer, **kwargs)  # noqa: E501
        else:
            (data) = self.update_fertilizer_using_put_with_http_info(update_fertilizer, **kwargs)  # noqa: E501
            return data

    def update_fertilizer_using_put_with_http_info(self, update_fertilizer, **kwargs):  # noqa: E501
        """updateFertilizer  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_fertilizer_using_put_with_http_info(update_fertilizer, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Fertilizer update_fertilizer: updateFertilizer (required)
        :return: Fertilizer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['update_fertilizer']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_fertilizer_using_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'update_fertilizer' is set
        if self.api_client.client_side_validation and ('update_fertilizer' not in params or
                                                       params['update_fertilizer'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `update_fertilizer` when calling `update_fertilizer_using_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_fertilizer' in params:
            body_params = params['update_fertilizer']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/fertilizers', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Fertilizer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
